.cardContainer {
    display: inline-block;
    border: 3px solid rgb(217, 109, 109);  
    padding: 10px;                         
    border-radius: 9px;
    max-width: 180px;                    
    width: 30%;                       
    background-color: rgba(243, 243, 243, 0.984);
    margin: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.cardContainer ul {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}

.cardContainer img {
    width: 70%;           
    display: block;
    margin: 0 auto 10px auto; 
    border-radius: 8px;
}

h2, h3 {
    width: 100%;
    color: black;
    font-family: sans-serif;
    display: block;
    margin: 0 auto;
    font-size: 1rem;       
}

li {
    list-style: none;
    color: black;
    font-size: 0.85rem;    
}
