.cardContainer {
    display: inline-block;
    border: 5px solid rgb(217, 109, 109);
    padding: 16px;
    border-radius: 9px;
    max-width: 250px;
    background-color: rgba(243, 243, 243, 0.984);
    margin-left: 300px;
    

}
.cardContainer ul {
    padding-left: 0;    
    margin-left: 0;     
    margin-right: 0;    
}
.cardContainer img {
    width: 50%;       
    display: block;    
    margin: 0 auto;    
    border-radius: 8px; 
}
h2, h3{
    width: 100%;
    color: black;
    font-family: sans-serif;
    display: block;
    margin: 0 auto;
    
}

li {

    list-style: none;
    color: black; 
    
}