body, html {
    margin: 0;
    padding: 0;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.984);
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    font-family: sans-serif;
}

.navLinks a {
    margin: 0 15px;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navLinks a:hover {
    background-color: rgb(217, 109, 109);
    color: white;
}


